<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.luongt.misfit">

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:name=".MisfitEventNotifierApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".SplashScreen"
            android:noHistory="true"
            android:theme="@style/Theme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".LockActivity"
            android:launchMode="singleInstance"
            android:noHistory="true">
            <intent-filter>
                <action android:name="FINISH_LOCK" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".AlarmActivity" />
        <activity
            android:name=".AlarmReachedActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance" />

        <receiver
            android:name=".receiver.BootReceiver"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.CallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.AlarmReceiver" />

        <service android:name=".service.HelloService" />
        <service android:name=".service.LockService" />

        <activity android:name=".MoneyActivity" />
        <activity
            android:name=".CallSettingActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".LockSettingActivity" />
        <activity android:name=".ControlSlideActivity" />
        <activity
            android:name=".LockConfirmPinActivity"
            android:noHistory="true" />
        <activity android:name=".SetPasscodeLockActivity"
            android:windowSoftInputMode="adjustResize" ></activity>
    </application>

</manifest>